body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #ffffff, rgba(32, 174, 176, 0.25));
    background-attachment: fixed;
    margin-top: 80px;
}

.text-primary {
    color: #1eafb2 !important;
}

.text-secondary {
    color: #0c6a73 !important;
}

.btn-primary {
    background-color: #1eafb2;
    border-color: #1eafb2;
}

.btn-primary:hover {
    background-color: #0c6a73;
    border-color: #0c6a73;
}

.row-pop {
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.25);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

#p-color {
    color: var(--bs-cyan);
    font-family: var(--bs-font-monospace);
}

#hero_row {
    background: url('pics/homepage-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 250px 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.social-links a {
    text-decoration: none;
    color: black;
    margin: 25px;
    font-size: 2rem;
}