body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #ffffff, rgba(32, 174, 176, 0.25));
    background-attachment: fixed;
}

.text-primary {
    color: #0c6a72 !important;
}

.text-secondary {
    color: #20aeb1 !important;
}

.btn-primary {
    background-color: #0c6a72;
    border-color: #0c6a72;
}

.navbar {
    background-color: white;
}

#p-color {
    color: var(--bs-cyan);
    font-family: var(--bs-font-monospace);
}

#hero_row {
    background: url('pics/homepage-img.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
    text-align: center;
}

.col {
    background-color: #f8f8f8;
}